/*
Comments:





*/





* {
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(Img/003Katana/001.png);
    background-size: cover;
    background-position: center;
    padding: 20px 10%;
    transition: background-image 0.5s;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    }

nav .logo {
    width: 180px;
    cursor: pointer;
    margin-left: auto;
    }

nav .btn {
    text-decoration: none;
    color: #fff;
    background: #333;
    padding: 15px 80px;
    border-radius: 30px;
    margin-left: auto;
    }

nav .btn:hover{
	background-color: #003399;
	color: #fff;
}
	
.content {
    margin-top: 15%;
}

.content h2 {
    color: #222222;
    font-size: 34px;
    margin-left: 25%;
    padding-bottom: 10px;
}

.content h1 {
    font-size: 100px;
    color: #E20A17;
    margin-top: -25px;
    margin-left: -50px;
    padding-bottom: 20px;
}

.content p {
    max-width: 500px;
    font-weight: 500;
    font-size: 14px;
    color: #555;
    border: 3px;
    border-style: solid;
    border-color: #003399;
    padding: 2em;
    border-radius: 30px;
    margin-left: -50px;
}

.content h3 {
    margin-top: 8%;
    font-weight: 600;
    font-size: 24px;
    margin-left: 40px;
}

.colour-select div {
    background: #333;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 60px;
}

.colour-select {
    display: flex;
    margin-top: 20px; 
    cursor: pointer;
}

.colour-select #red {
    background: #1D4061;   
}

.colour-select #blue {
    background: #6F7277;    
}

.colour-select #black {
    background: transparent;    
}

.container .home {
    padding-top: 80px;
    padding-left: 20px;
    padding-bottom: 80px;
}

.container .home a {
    text-decoration: none;
    color: #fff;
    border: 2px;
    border-color: #000;
    background-color: #000;
    border-style: solid; 
    padding: 15px 80px;
    border-radius: 30px;

}

.container .home a:hover {
    background-color: #003399;
    color: #fff;
    border: 2px solid #003399;
    }








